/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
  /* CSS */
  
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  
  /* CSS */
  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
  /* CSS */
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  /* CSS */
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
  /* CSS */
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
  /* CSS */
  .mouse_scroll{
    top: auto;
  }
  .case .text h2{
    font-size: 36px;
  }
  .block-27 ul li{
    margin: 0 3px;
  }
  .hovicon{
    font-size: 18px;
  }
  footer .col-md-3:first-child{
    text-align: center;
  }
  footer .col-md-3:first-child .mt-5{
    margin: 0 !important;
    margin-bottom: 16px !important;
  }
  .ftco-footer-social li{
    display: inline-block;
  }
  .ftco-footer-social li a{
    float: none;
  }
  .ftco-heading-2{
    text-align: center;
  }
  .block-23{
    margin-left: 24px;
  }


  .navbar-nav{
    background: white;
  }
  .ftco-navbar-light .navbar-nav>.nav-item>.nav-link{
    color: black;
  }
}